@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Interest rate calculator</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Interest rate calculator</h2>
        <p>
            Interest rate calculator is a sample application that
            helps to evaluate how the change of base rate impacts
            the interest rate.
        </p>
        <p>
            Select from menu Customers or Agreements to begin.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in the tutorial series on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from the GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/MaksZ/InterestRateCalc">Download &raquo;</a></p>
    </div>
</div>