<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_IInterestRateCalcService" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://maksimz-001-site1.gtempurl.com/service.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterestRateCalcService"
            contract="InterestRateCalcService.IInterestRateCalcService"
            name="BasicHttpBinding_IInterestRateCalcService" />
    </client>
</system.serviceModel>
</configuration>